/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    font-weight: 300;
    line-height: 1.6;
    color: #ffffff;
    background-color: #f8f8f8;
}

/* Encabezado */
header {
    background-color: #a24f62;
    padding: 1em;
    text-align: center;
    color: #ffffff;
}

header h1 {
    font-size: 2em;
}

/* Menú de navegación */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1.3em;
    margin-top: 0.5em;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
}

nav ul li a:hover {
    color: #f8f8f8; /* Aseguramos el color correcto al hacer hover */
}

/* Estilo de categorías y submenús */
.categoria {
    position: relative;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    border: 1px solid #000000;
    padding: 10px;
    width: 150px;
    z-index: 1;
}

.categoria:hover .submenu {
    display: block;
}

.submenu p {
    margin: 5px 0;
    padding: 5px;
    color: #333;
}

.submenu p:hover {
    background-color: #eee;
}

/* Sección de introducción */
.intro {
    text-align: center;
    padding: 2em;
    background-color: #a24f62;
}

.intro h2 {
    font-size: 1.5em;
    margin-bottom: 1em;
    color: #000000;
}

.intro p {
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.6;
    font-size: 1em;
}

/* Galería */
.gallery {
    text-align: center;
    padding: 2em;
    background-color: #f7ede2;
}

.gallery h2 {
    font-size: 1.5em;
    color: #000000;
    margin-bottom: 1em;
}

.gallery-images {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.gallery-images img {
    width: 20%;
    height: auto;
    object-fit: cover;
}

/* Estilos de revista */
.revista {
    background-color: #ffffff;
    padding: 2em;
    text-align: center;
}

.revista h2 {
    font-size: 1.5em;
    color: #000000;
    margin-bottom: 1em;
    font-weight: 400;
}

.revista p {
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.6;
    font-weight: 300;
    color: #000000;
    font-size: 1em;
}

/* Contenedor de imágenes y texto en revista */
.revista-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
}

.revista-container img {
    width: 20%;
    height: auto;
}

.revista-text {
    max-width: 30%;
    text-align: center;
}

/* Pie de página */
footer {
    background-color: #194912;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    font-size: 0.9em;
}

/* Media Queries para dispositivos pequeños */
@media (max-width: 768px) {
    .revista-container img {
        width: 80%;
    }
    .revista-text {
        max-width: 50%;
    }
}

@media (max-width: 480px) {
    header {
        font-size: 1em;
    }
    .revista-container img {
        width: 100%;
    }
}

/* Barra de búsqueda */
.search-bar {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #DB8F9B;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.search-bar button {
    padding: 8px 16px;
    font-size: 16px;
    color: #fff;
    background-color: #DB8F9B;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #555;
}